<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<h1>A web application to analyze your data online!</h1>
<h3>Developed by Milad Shiri.</h3>
<h4>It's just a demo and yes we know that there is a lot of bugs!</h4>

<div>
    <ul>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'userprofile:signin' %}">LogIn</a></li>
            <li><a href="{% url 'userprofile:signup' %}">SingUp</a></li>
        {% else %}
            <li><a href="">Hello {{ request.user.username }},</a></li>
        {% endif %}
    <li><a href="{% url 'machine:upload_data' %}">Upload data</a></li>
    <li><a href="{% url 'machine:select_method' %}">Select & config method</a></li>
    <li><a href="{% url 'machine:model_data' %}">Train the model</a></li>
    <li><a href="{% url 'machine:predict_data' %}">Predict the data</a></li>

     {% if request.user.is_authenticated %}
         <li><a href="{% url 'userprofile:signout' %}">LogOut</a></li>
     {% endif %}

    </ul>
</div>



{% block content %}

{% endblock %}


</body>
</html>